"*":
  core:
    telemetryConsent: "no"
    themes: [
      "custom-ui"
      "custom-syntax"
    ]
  "file-icons":
    coloured: false
  "linter-ui-default": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      showInStatusBar: true
  welcome:
    showOnStartup: false
